.App {
  text-align: center;
}

.AppHeader {
  background-image: url(./pic01.jpg);
  height: 600px;
}

.AppBody {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  height: 800px;
}

.AppFooter {
  margin-top: 3em;
  padding-top: 1em;
  text-align: center;
  background-color: #212333;
  color: white;
  height: 300px;
}

.Logo {
  margin-top: 1em;
  height: 300px;
}

.Button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border-radius: 40px;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.50em 1.5em;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;
  min-width: 10em;
  margin-top: 20px;
}

.BackgroundBlue {
  background: #1DA1F2;
}

.LoginLogo{
  background: #1DA1F2;
  max-width: 50px; 
}

.BackgroundDarkBlue {
  background: #212333;
}

.BackgroundOrange {
  background: rgb(235, 91, 43);
}

.BackgroundGray {
  background: rgb(99, 99, 99);
}

.ImageForm {
  margin-top: 1em; 
}