.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppHeader {
  background-image: url(./appHeaderBackgroundImage.jpg);
  background-repeat: no-repeat;
  background-position: center
}

.AppHeaderDescription {
  color: white;
}

.AppBody {
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 3em;
  margin-right: 3em;
}

.AppFooter {
  margin-top: 3em;
  background-color: #212333;
  text-align: right;
  color: white;
  margin-top: auto;
}

.FooterButton {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 1em;
}

.Logo {
  margin-top: 1em;
  height: 300px;
}

.Button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border-radius: 40px;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.50em 1.5em;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;
  min-width: 10em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.LogoutButton {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  color: white;
  display: inline-block;
  padding: 0.50em 1.5em;
  text-align: center;
  text-decoration: none;
  min-width: 10em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.BackgroundBlue {
  background: #1DA1F2;
}

.LoginLogo{
  background: #1DA1F2;
  max-width: 50px; 
}

.BackgroundDarkBlue {
  background: #212333;
}

.BackgroundOrange {
  background: rgb(235, 91, 43);
}

.BackgroundGray {
  background: rgb(99, 99, 99);
}

.Card {
  margin-top: 2%;
  color: gray;
}

.TweetCardImage {
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  height: 250px;
  object-fit: cover;
}

.TweetCardTitle {
  color: #212333;
}

.TweetCardText {
  color: #212333;
}

.TweetForm {
  padding-top: 1%;
}

.ImageForm {
  margin-bottom: 3%; 
}

.ImageFormTitle {
  margin-left: 5%; 
  margin-bottom: 3%; 
  text-align: left;
}

.DescriptionFormt {
  margin-top: 2em; 
}

.TwitterProfile {
  text-align: right;
  font-size: 1.4em;
  font-weight: 300;
  border-bottom: solid 3px #212333;
  margin-bottom: 1em;

}

.TwitterIcon .TwitterName {
  margin-left: 1em;
  margin-right: 1em;
}

.ImageContainer {
  margin-top: 1%; 
}

.LoadingScreen {
  margin-top: 1%; 
}

.ImageButton {
  margin-top: 1%;
  margin-bottom: 1%;
}

.TextArea {
  margin-top: 1%; 
  margin-right: 5%;
  margin-left: 5%;
  text-align: left;
}

.SelectedImageButton {
  font-weight: bold;
  color: #1DA1F2;
  background: #FFF;
  border: solid 3px #1DA1F2;
  border-radius: 10px;
}